/* CSS reset */
html {
   box-sizing: border-box;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

body {
   background-color: rgba(248, 202, 143, 0.589);
}

.main-container {
   width: 800px;
   margin: 0 auto;
   text-align: center;
}

#links-list {
   list-style: none;
}